<div class="card w-48 bg-base-100 shadow-xl border-2 border-gray-500" id="targetDiv">
    <form
     hx-post="/poke"
     hx-swap="outerHTML"
     hx-target="#targetDiv"
     class="card-body justify-center p-4">
        <h2 class="card-title self-center">Add more</h2>
        <input
            type="text"
            name="pokemon"
            placeholder="Type here"
            class="input input-5m input-border w-full max-w-x5"/>
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </form>
</div>

