<!doctype html>
<html lang="en" data-theme="light">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
</head>


<body>
    <header class="bg-white">
        <nav class="flex  justify-between items-center w-[92%]  mx-auto">
            <div>

                <img class="w-20 p-1" src="{{ .MenuImageFile }}" alt="flag" />
            </div>
            <h1 class="text-2xl">Inventory System</h1>
            <div>
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-0">
                    <li>
                        <a class="hover:text-gray-500 cursor-pointer" hx-get="/api/v1/pokemon/start" hx-swap="outerHTML"
                            hx-trigger="click" hx-target="body">
                            Pokemon
                        </a>
                    </li>
                    <li>
                        <div class="relative" id="dropdownBtn">
                            <div class="border-solid border-gray-500 bg-white border-[1px] 
                                    px-5 py-2 rounded cursor-pointer justify-between 
                                    w-[150px] shadow-sm hover:bg-gray-100" onclick="toggleDropdown()">

                                IS Menu &nbsp; &nbsp; &nbsp; &nbsp; &darr;
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="hover:text-gray-500 cursor-pointer" hx-get="/api/v1/adminform" hx-swap="outerHTML"
                            hx-trigger="click" hx-target="body">
                            Admin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-6">
                <button hx-get="/api/v1/logout" hx-trigger="click" hx-swap="outerHTML" hx-target="body" type="button"
                    class="px-7 py-2 ring-5 ring-green-600 bg-green-300 ring-opacity-25  h-12 rounded-full"
                    id="logoutBtn">
                    Log Out
                </button>
            </div>
        </nav>

        <hr class="my-0 h-4 border-t-2 bg-red-100 dark:bg-red/10" />
        <div class="flex relative">
            <div class="hidden rounded border-[1px] border-gray-500 py-2 bg-white top-[50px] 
                w-[160px] shadow-md absolute right-[290px] top-0" id="dropdown">
                <div class="cursor-pointer hover:bg-gray-100 px-4">
                    <a class="hover:text-gray-500 cursor-pointer" hx-get="/api/v1/createitemform" hx-swap="outerHTML"
                        hx-trigger="click" hx-target="body">
                        Create Item
                    </a>
                </div>
                <div class="cursor-pointer hover:bg-gray-100 px-4">
                    <a class="hover:text-gray-500 cursor-pointer" hx-get="/api/v1/fileform" hx-swap="outerHTML"
                        hx-trigger="click" hx-target="body">
                        Copy File
                    </a>
                </div>
                <div class="cursor-pointer hover:bg-gray-100 px-4">
                    <a class="hover:text-gray-500 cursor-pointer" hx-get="/api/v1/showitemsform" hx-swap="outerHTML"
                        hx-trigger="click" hx-target="body">
                        Show Items
                    </a>
                </div>
                <div class="cursor-pointer hover:bg-gray-100 px-4">
                    <a class="hover:text-gray-500 cursor-pointer" hx-get="/api/v1/edititemform" hx-swap="outerHTML"
                        hx-trigger="click" hx-target="body">
                        Edit/Delete Item
                    </a>
                </div>

            </div>
        </div>
    </header>

    <div class="bg-cover bg-center h-screen"
        style="background-image: url('http://localhost:8000/api/v1/getfile/ohioriverview.jpg');">
        <!-- Your content here -->


        <div id="mainPage" class="flex flex-col gap-20 align-center items-center">
            <h1 class="text-2xl"></h1>

            <div class="grid grid-cols-1 align-center gap-5">
                <div>
                    <input type="text" name="errorMsg" id="errorMsg" disabled="true" value="{{ .Message }}"
                        class="bg-transparent text text-center h-12 rounded-lg px-5">
                </div>

            </div>
        </div>
    </div>
</body>

<script>
    function toggleDropdown() {
        dropdown.classList.toggle("hidden");

        const element = document.getElementById('dropdownBtn');
        const rect = element.getBoundingClientRect();
        const x = rect.left + window.scrollX;

        var menudiv = document.getElementById("dropdown");
        menudiv.style.left = x + "px";
        menudiv.style.top = 2 + "px";

    }
</script>

</html>